---
import { getCollection } from 'astro:content';
import PageLayout from '@/components/layouts/PageLayout.astro';
import slateConfig from '~@/slate.config';

const postCollection = await getCollection('post', ({ data }) => {
  return import.meta.env.DEV || data.draft !== true;
});

const tagCounts = postCollection.reduce<Record<string, number>>(
  (res, post) => {
    const postTags = post.data.tags;
    if (!postTags || !postTags.length) return res;
    postTags.forEach((tag) => {
      if (tag.trim() === '') return;

      if (res[tag]) {
        res[tag]++;
      } else {
        res[tag] = 1;
      }
    });
    return res;
  },
  {
    All: postCollection.length,
  },
);

const tags = Object.keys(tagCounts).map((tag) => ({
  name: tag,
  count: tagCounts[tag],
}));

const posts = [...postCollection]
  .sort((a, b) => b.data.pubDate!.getTime() - a.data.pubDate!.getTime())
  .map((post) => ({
    id: post.id,
    slug: post.slug,
    url: `/blog/${post.slug}`,
    data: post.data,
  }));
---

<PageLayout>
  <section class="relative mb-16">
    <h1 class="text-6xl font-title text-slate12">
      {slateConfig.title}
    </h1>
    <div class="text-2xl font-mono text-slate10 mt-2">{slateConfig.description}</div>
  </section>

  <section class="mb-16">
    <div class="text-2xl font-geist font-light">
      {
        posts.map((item) => (
          <a class="link text-slate12 flex cursor-pointer flex-col justify-between transition-transform duration-200 ease-in-out py-3 active:scale-[0.95] sm:flex-row sm:items-center sm:px-6 hover:text-foreground" href={item.url} title={item.data.title}>
            <span class="shrink-0 transition-colors">{item.data.title}</span>
            <span class="mx-8 hidden h-px w-full grow border-t border-dashed border-slate10 sm:flex" />
            <span class="shrink-0 text-slate11 italic font-mono text-lg">
              {item.data.pubDate?.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'short',
                day: 'numeric',
              })}
            </span>
          </a>
        ))
      }
    </div>
    <!-- <Button className='m-auto mt-6' block> More </Button> -->
  </section>

  <section class="mb-16">
    <ul class="flex flex-wrap gap-2 text-base text-slate10">
      {
        tags.map(({ name, count }) => (
          <li class="block cursor-pointer rounded-full bg-background-alt px-4 py-2 text-slate10 transition-all hover:foreground-light hover:text-foreground">
            {name}
            <sup class="text-[10px] text-slate8">{count}</sup>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
